body {
    font-family:Oswald;
    background-color: lightcoral;
    text-align:center;
}

.header {
    background-color: rebeccapurple;
    color: white;
    font-family: Oswald;
    width: 100%;
    height: 100px;
    margin-top: 0;
    margin-left: 0;
}