body {
    font-family: Oswald;
}

table {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.center_text {
    text-align: center;
}

.style1 {
    background-color: lightcoral;
}

.style2 {
    background-color: lightgreen;
}

.style1, .style2 {
    padding: 10px 10px 10px 10px;
    text-align: center;
}