body {
    font-family: Oswald;
}

table {
    position: absolute;
    top: 0;
    marin: auto;
}

.center_text {
    text-align: center;
}

.style1 {
    background-color: lightcoral;
}

.style2 {
    background-color: lightgreen;
}

.style1 .style2 {
    padding: 2px 2px 2px 2px;
}