
title {
    font-size: 36pt;
    font-weight: bold;
    display: inline-block;
    height: 100%;
}

.block {
    font-size: 24pt;
    font-weight: lighter;
    display: inline-block;
    height: 100%;
}

.block:hover {
    cursor: pointer;
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
}